# FVM Version Cache
.fvm/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
**/android/app/.cxx/
**/android/.kotlin/sessions/
**/android/.kotlin/errors/
*.jks

# Flutter related
.dart_tool
.idea
build
